<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>
<style>

</style>
<body>
<div> 
    <h3 style="color: rgb(38, 93, 38)">
        Homemade Suman
    </h3>
    <input type="text" id="name" placeholder="name"/>
    <input type="text" id="email" placeholder="email"/>
    <input type="number" id="number" placeholder="number"/>
    <button class='btn btn-warning' type="submit" id="submit" >Submit</button>
</div>


</body>
</html>